@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "./blocks/_hero.scss";
@import "./blocks/_header.scss";
@import "./blocks/_footer.scss";
@import "./blocks/_get.scss";
@import "./blocks/_plants.scss";
@import "./blocks/_buy.scss";
@import "./blocks/_cards.scss";

$main-color: #ffffff;
$primary-color: #156963;
$secondary-color: #f3f4f6;

@mixin contconst {
  max-width: 1168px;
  margin: 0 auto;
}

@mixin flex-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $main-color;
  .actbtn {
    background-color: $primary-color;
    color: $main-color;
    border: none;
    padding: 8px 20px;
    width: 111px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
  }
  .disbtn {
    background-color: $main-color;
    color: $primary-color;
    border: none;
    padding: 8px 20px;
    width: 111px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
  }
  button:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: ease-in-out 0.2s;
  }
  a {
    text-decoration: none;
  }
}
