@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.header {
  padding-top: 45px;
}
.header .container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header ul {
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 16px;
}
.header .buttons {
  display: flex;
  gap: 30px;
}
.header .nonebtn {
  border: none;
}
.header .disbtn {
  border: 1px solid #f53838;
  border-radius: 50px;
  color: #f53838;
  width: 150px;
  height: 45px;
}

.hero {
  padding-top: 88px;
}
.hero .container {
  max-width: 1207px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.hero h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
}
.hero h1 span {
  font-weight: bolder;
}
.hero p {
  line-height: 187%;
  padding-bottom: 50px;
}
.hero .hero-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 41px;
  padding-bottom: 103px;
}
.hero .hero-up .start {
  border-radius: 10px;
  width: 250px;
  height: 60px;
  background-color: #f53838;
  color: #ffffff;
  border: none;
}
.hero .hero-down {
  border-radius: 10px;
  width: 1140px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-evenly;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
.hero .mini-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 37px;
}
.hero .mini-card p {
  padding-bottom: 0;
}
.hero .line {
  stroke-width: 2px;
  stroke: #eeeff2;
}
.hero .hero-shadow {
  position: absolute;
  border-radius: 10px;
  width: 1068px;
  height: 189px;
  filter: blur(114px);
  background: #0b132a;
  opacity: 0.06;
  top: 800px;
  z-index: 1;
}

.provide .container {
  max-width: 1140px;
  margin: 0 auto;
}
.provide li {
  display: flex;
  align-items: center;
}

.hero {
  padding-top: 88px;
}
.hero .container {
  max-width: 1207px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.hero h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
}
.hero h1 span {
  font-weight: bolder;
}
.hero p {
  line-height: 187%;
  padding-bottom: 50px;
}
.hero .hero-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 41px;
  padding-bottom: 103px;
}
.hero .hero-up .start {
  border-radius: 10px;
  width: 250px;
  height: 60px;
  background-color: #f53838;
  color: #ffffff;
  border: none;
}
.hero .hero-down {
  border-radius: 10px;
  width: 1140px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-evenly;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
.hero .mini-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 37px;
}
.hero .mini-card p {
  padding-bottom: 0;
}
.hero .line {
  stroke-width: 2px;
  stroke: #eeeff2;
}
.hero .hero-shadow {
  position: absolute;
  border-radius: 10px;
  width: 1068px;
  height: 189px;
  filter: blur(114px);
  background: #0b132a;
  opacity: 0.06;
  top: 800px;
  z-index: 1;
}

.hero {
  padding-top: 88px;
}
.hero .container {
  max-width: 1207px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.hero h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
}
.hero h1 span {
  font-weight: bolder;
}
.hero p {
  line-height: 187%;
  padding-bottom: 50px;
}
.hero .hero-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 41px;
  padding-bottom: 103px;
}
.hero .hero-up .start {
  border-radius: 10px;
  width: 250px;
  height: 60px;
  background-color: #f53838;
  color: #ffffff;
  border: none;
}
.hero .hero-down {
  border-radius: 10px;
  width: 1140px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-evenly;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
.hero .mini-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 37px;
}
.hero .mini-card p {
  padding-bottom: 0;
}
.hero .line {
  stroke-width: 2px;
  stroke: #eeeff2;
}
.hero .hero-shadow {
  position: absolute;
  border-radius: 10px;
  width: 1068px;
  height: 189px;
  filter: blur(114px);
  background: #0b132a;
  opacity: 0.06;
  top: 800px;
  z-index: 1;
}

.footer {
  font-size: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
  color: #0b132a;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  color: #0b132a;
}
body button {
  color: #0b132a;
  background: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
body button:hover {
  transform: scale(1.05);
}/*# sourceMappingURL=main.css.map */