@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.hero .container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
  gap: 77px;
}
.hero h1 {
  font-weight: 500;
  font-size: 68px;
  color: #156963;
}
.hero p {
  padding-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  opacity: 0.8;
}
.hero .buttons {
  display: flex;
  padding-top: 110px;
}
.hero .buttons .button-up {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}
.hero .buttons .button1 h2 {
  font-weight: 500;
  font-size: 32px;
  color: #156963;
}
.hero .buttons .button1 p {
  color: #f3f4f6;
}
.hero .buttons .button2 {
  background-color: #156963;
}
.hero .buttons .button2 h2 {
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
}
.hero .buttons .button2 p {
  color: #f3f4f6;
}
.hero .buttons .button1,
.hero .buttons .button2 {
  padding-top: 38px;
  padding-bottom: 38px;
  padding-right: 40px;
  padding-left: 40px;
}
.hero .buttons .button1 span,
.hero .buttons .button2 span {
  font-weight: 500;
  font-size: 24px;
  opacity: 0.5;
}
.hero .buttons .button1:hover,
.hero .buttons .button2:hover {
  transform: scale(1.02);
  cursor: pointer;
}

header {
  padding-top: 40px;
  padding-right: 56px;
  padding-left: 56px;
  position: relative;
  z-index: 2;
}
header .container {
  max-width: 1168px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .icons {
  display: flex;
  gap: 40px;
  padding-right: 8px;
}

.get {
  padding-bottom: 80px;
}
.get .container {
  max-width: 1168px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6;
  gap: 6px;
}
.get .text {
  padding-left: 97px;
}
.get h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #2c1500;
}
.get .actbtn {
  border: 1px solid #156963;
  background: #156963;
  padding: 10px 20px;
  width: 152px;
  height: 40px;
}

.plants .container {
  max-width: 1168px;
  margin: 0 auto;
}
.plants .card-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plants .card-up .button {
  display: flex;
  justify-content: center;
  gap: 2px;
  border: 1px solid #e0e0e0;
  padding: 8px 12px;
  width: 130px;
  height: 31px;
  font-weight: 500;
  font-size: 12px;
}
.plants .card-up:hover {
  cursor: pointer;
}
.plants .line {
  padding-top: 16px;
  padding-bottom: 24px;
}
.plants .plantgroup {
  display: flex;
  gap: 20px;
  padding-bottom: 80px;
}
.plants .plantgroup .card {
  text-align: center;
}
.plants .plantgroup .card:hover {
  transform: scale(1.02);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.plants .plantgroup .card h3 {
  padding-top: 16px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.plants .plantgroup .card h4 {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.buy {
  padding-bottom: 80px;
}
.buy .container {
  max-width: 1168px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 84px;
}
.buy .left h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #2c1500;
}
.buy .left p {
  padding-bottom: 74px;
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  opacity: 0.8;
}

.cards {
  padding-top: 140px;
  padding-bottom: 101px;
}
.cards .container {
  max-width: 1168px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.cards .card {
  cursor: pointer;
  border: 1px solid #e0e0e0;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 22px;
  padding-bottom: 22px;
}
.cards .card .card-up {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}
.cards .card .card-up span {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #156963;
}
.cards .card p {
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  color: #2c1500;
}
.cards .card:hover {
  transform: scale(1.02);
  transition: ease-in-out 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #ffffff;
}
body .actbtn {
  background-color: #156963;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  width: 111px;
  height: 36px;
  font-weight: 700;
  font-size: 14px;
}
body .disbtn {
  background-color: #ffffff;
  color: #156963;
  border: none;
  padding: 8px 20px;
  width: 111px;
  height: 36px;
  font-weight: 700;
  font-size: 14px;
}
body button:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: ease-in-out 0.2s;
}
body a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */