$primary-color: #f53838;

@mixin flex-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding-top: 45px;
  .container {
    max-width: 1140px;
    margin: 0 auto;
    @include flex-base();
  }
  ul {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
  }
  .buttons {
    display: flex;
    gap: 30px;
  }
  .nonebtn {
    border: none;
  }
  .disbtn {
    border: 1px solid $primary-color;
    border-radius: 50px;
    color: $primary-color;
    width: 150px;
    height: 45px;
  }
}
