$main-color: #ffffff;
$primary-color: #156963;
$secondary-color: #f3f4f6;

@mixin contconst {
  max-width: 1168px;
  margin: 0 auto;
}
@mixin flex-base{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header{
  padding-top: 40px;
  padding-right: 56px;
  padding-left: 56px;
  position: relative;
  z-index: 2;
  .container{
    @include contconst();
    @include flex-base();
  }
  nav{
    @include flex-base();
    .icons{
      display: flex;
      gap: 40px;
      padding-right: 8px;
    }
  }
}