$main-color: #ffffff;
$primary-color: #156963;
$secondary-color: #f3f4f6;

@mixin contconst {
  max-width: 1168px;
  margin: 0 auto;
}

@mixin flex-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  // position: absolute;
  // top: 0;
  // padding-left: 300px;
  .container {
    max-width: 1280px;
    margin: 0 auto;
    @include flex-base();
    align-items: flex-end;
    gap: 77px;
  }
  // .bg{
  //   position: fixed;
  //   top: 0;
  // }
  h1 {
    font-weight: 500;
    font-size: 68px;
    color: $primary-color;
  }
  p {
    padding-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    opacity: 0.8;
  }
  .buttons {
    display: flex;
    padding-top: 110px;
    .button-up {
      display: flex;
      align-items: center;
      padding-bottom: 12px;
    }
    .button1 {
      h2 {
        font-weight: 500;
        font-size: 32px;
        color: $primary-color;
      }
      p {
        color: $secondary-color;
      }
    }
    .button2 {
      background-color: $primary-color;
      h2 {
        font-weight: 500;
        font-size: 32px;
        color: $main-color;
      }
      p {
        color: $secondary-color;
      }
    }
    .button1,
    .button2 {
      padding-top: 38px;
      padding-bottom: 38px;
      padding-right: 40px;
      padding-left: 40px;
      span {
        font-weight: 500;
        font-size: 24px;
        opacity: 0.5;
      }
      &:hover{
        transform: scale(1.02);
        cursor: pointer;
      }
    }
  }
}
