$main-color: #ffffff;
$primary-color: #f53838;
$text-color: #0b132a;
$secondary-color: #f8f8f8;

@mixin flex-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.provide {
  padding-top: 96px;
  padding-bottom: 132px;
  .container {
    max-width: 1105px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    gap: 170px;
  }
  h2 {
    padding-bottom: 20px;
    font-size: 35px;
    line-height: 143%;
  }
  p {
    font-size: 16px;
    line-height: 187%;
    padding-bottom: 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  li {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
